<p class="larger-than-normal">
    Hi {{ ':wave:' | emojify }}, my name is Ryan. I'm a full stack developer {{ ':thumbsup:' | emojify }}. I have
    primarily worked in the Microsoft stack, but have also dabbled with Google Cloud a bit. Here is my
    <app-external-link href="https://www.linkedin.com/in/ryan-ehrler-71368b64/">LinkedIn</app-external-link>.
    My <app-external-link href="https://github.com/ryanehrler?tab=repositories">Github</app-external-link>.
    My <app-external-link href="https://stackoverflow.com/users/7998137/ryan-e">Stack Overflow</app-external-link>.
</p>
<h1 style="padding-top: 50px">Why create this site?</h1>
<p>Over the years I have been helping developers in my immediate orbit learn Angular, so I hope to expand that orbit.
    I hope to approach topics in a best practice/professional point of view, so you can leave
    knowing the why as well as the how. That's the goal anyway {{':smiley:' | emojify }}.
</p>
<p>
    For the most part I follow Best Practices outlined on <app-external-link href="https://angular.io/docs">Angular.io</app-external-link>.
</p>
<p>
    If you happen to be curious about how this site was created you can find the source
    <app-external-link href="https://github.com/ryanehrler/Omg-Its-Angular">here.</app-external-link>
</p>