<h1>Who am I?</h1>
<p>My name is Ryan Ehrler. I have a Bachelors degree in Computer Science from West Chester University and have been
  doing professional developement for 5 years. I have been a lead developer on multiple Angular projects (AngularJS and
  Angular).
  In my professional life I have worked in a full-stack capacity, which just means I have control of the database all
  the way to the front-end.
  In my free time I have developed several side projects, the most exciting one I currently have going is a project
  which uses Electron, Angular, and Google Cloud. It analyzes first-person-shooter gameplay and provies analysis of
  that gameplay
  to the content creator which can than more easily edit their footage.
</p>
<h1>Why create this site?</h1>
<p>Over the years I have been helping developers in my immediate orbit learn Angular, so I figured ... why not
  expand that orbit? Also I have disagreements with the approach most of the literature out there employs when teaching
  angular. Not that I have all the answers and I'm infinitely smarter than everyone else (even though I am... kidding).
</p>
<p>
  ... Honestly I really just want a soap box I can stand on and shout into the internet with. and maybe do some more
  learning myself.
</p>
<p>
  No but seriously, I hope you learn something here because I most definitely will. For the most part I follow Best
  Practices outlined on <a href="https://angular.io/docs">Angular.io</a>.
</p>
