@import './angular-material/variables.scss';

$grid-gap: 2em;
$grid-header-height: 6.25em;
$grid-footer-height: 6.25em;

.grid-container {
  display: grid;
  width: 100vw;
  min-height: 100vh;

  grid-template-columns: minmax(10em, 20em) 1fr 1fr 1fr;
  grid-template-rows: $grid-header-height auto $grid-footer-height;
  grid-template-areas:
    'header header header header'
    'sidebar content content right-sidebar'
    'footer footer footer footer';
  grid-gap: $grid-gap;

  align-items: start;

  .header-area {
    grid-area: header;
    padding-left: $grid-gap;
    // background-color: $accent;

    position: sticky;
    top: 0;
    z-index: 1000;
  }

  .side-nav-area {
    grid-area: sidebar;
    padding-left: $grid-gap;

    // position: sticky;
    // height: 75vh;
    // top: calc($grid-header-height + $grid-gap);

    position: fixed;
    top: $grid-header-height + $grid-gap;
    bottom: 0;
  }

  .content-area {
    grid-area: content;
    justify-items: center;
  }
}
