@import './angular-material/variables.scss';

$grid-gap: 2em;

.grid-container {
    display: grid;
    height: 100vh;
    width: 100vw;

    grid-template-columns: minmax(10em, 20em) 1fr 1fr 1fr;
    grid-template-rows: 100px auto 100px;
    grid-template-areas:
        'header header header header'
        'sidebar content content content'
        'footer footer footer footer';
    grid-gap: $grid-gap;

    background-color: $accent-800;
    align-items: start;

    .header {
        grid-area: header;
        padding-left: $grid-gap;
        background-color: $accent;
    }

    .side-nav {
        grid-area: sidebar;
        padding-left: $grid-gap;
    }

    .content {
        grid-area: content;
        justify-items: center;
    }
}
