@import "./angular-material/variables.scss";

.grid-container {
  display: grid;
  height: 100vh;
  width: 100vw;

  grid-template-columns: 15px 1fr 3fr 15px;
  background-color: $accent-A200;
  align-items: start;

  .header {
    grid-column: 1 / -1;
  }
  .side-nav {
    grid-column: 2;
  }
  .content {
    grid-column: 3;
    justify-items: center;
  }
}
