<h1>Install VSCode</h1>
<p>
    ... Do I have to? Yes, you do. It's awesome. You can thank me later :)
    <a mat-button color="primary" href="https://code.visualstudio.com/" target="_blank">VSCode Download</a>
</p>
<p>
    Okay fine
    <a mat-button color="primary" href="https://www.jetbrains.com/webstorm" target="_blank">IntelliJ Webstorm</a>
    is awesome too, just not sure it's worth paying for when VSCode is free
    *shrug*.
</p>
<p>
    but but I hate Microsoft and IntelliJ. Okay fine use whatever IDE you like ...
    ... at your own peril ;)
</p>
<p>
    <a mat-button color="primary" href="https://angular.io/resources" target="_blank">Moar IDEs!!</a>
    -- More IDEs from Angular.io resource page
</p>
<h1>Install NodeJS</h1>
<p>
    Install LTS (Long Term Support) version
    <a mat-button color="primary" href="https://nodejs.org/en/">here.</a>
</p>
<mat-card>
    If you are curious what version of Node the Angular CLI requires then checkout
    the <b>Prerequisites</b> section on the npmjs @angular/cli page.
    <a mat-button color="primary" href="https://www.npmjs.com/package/@angular/cli" target="_blank">@angular/cli</a>
</mat-card>