<h1>Install VSCode</h1>
<p>
    ... Do I have to? Yes, you do. It's awesome. You can thank me later {{ ':smile:' | emojify }}
    <app-external-link [href]="'https://code.visualstudio.com/'" [text]="'VSCode Download'"></app-external-link>
</p>
<p>
    Okay fine
    <app-external-link [href]="'https://www.jetbrains.com/webstorm'" [text]="'IntelliJ Webstorm'"></app-external-link>
    is awesome too, just not sure it's worth paying for when VSCode is free. I used and loved Webstorm for 2 years but
    switched when VSCode was released.
</p>
<p>
    <app-external-link [href]="'https://angular.io/resources'" [text]="'Moar IDEs!!'"></app-external-link>
    -- More IDEs from Angular.io resource page
</p>
<h3>
    If it wasn't obvious already - I will be using VSCode, so I can't promise there won't be any screenshots and
    how-to's which are specific to VSCode throughout this site. However it shouldn't be vital.
</h3>
<h1>Install NodeJS</h1>
<p>
    Install LTS (Long Term Support) version
    <app-external-link [href]="'https://nodejs.org/en/'" [text]="'here.'"></app-external-link>
    NPM comes along for the ride when you install NodeJs.
</p>

<h1>Install Angular CLI</h1>
<p>Open a command prompt or VSCode.</p>
<app-pro-tip>
    Press <app-key [keys]="['Ctrl', '~']"></app-key> to bring up terminal in VSCode
</app-pro-tip>

<div style="margin-top: 20px;"></div>
<app-framed-image [src]="'../../../../assets/getting_started/intro__setting_up_environment__cli_nodejs_version.jpg'">
    If you are curious what version of Node the Angular CLI requires then checkout
    the <b>Prerequisites</b> section on the npmjs @angular/cli page.
</app-framed-image>
