@import '~@angular/material/theming';

$app-primary: mat-palette($mat-lime, A400, A200, A600);
$app-accent: mat-palette($mat-grey, 900, 600, 800);
$app-warn: mat-palette($mat-red);

$primary: mat-color($app-primary);

$accent: mat-color($app-accent);
$accent-800: mat-color($app-accent, 800);

$warn: mat-color($app-warn);
