/* You can add global styles to this file, and also import other style files */
@import './app/angular-material/theme.scss';

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: white;

  [class*='mat'] {
    font-family: 'Open Sans', sans-serif;
  }

  @include component-theme($main-app-theme);
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
}
