/* You can add global styles to this file, and also import other style files */
@import "./app/angular-material/theme.scss";

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}
